[Desktop Entry]
Version=1.0
Encoding=UTF-8
TryExec=sudo
Exec=sudo gnome-terminal --working-directory=%f
Icon=gnome-netstatus-disconn.png
Type=Application
X-GNOME-DocPath=gnome-terminal/index.html
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-terminal
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.12.0
Categories=GNOME;Application;System;Utility;TerminalEmulator;
Terminal=false
Name=Root Terminal
Name[en_US]=Root Terminal
GenericName[en_US]=
Comment[en_US]=Use a root command line
Name[zh_TW]=終端機
GenericName[zh_TW]=
Comment[zh_TW]=使用命令列
Name[zh_CN]=终端
GenericName[zh_CN]=
Comment[zh_CN]=使用命令行
Name[xh]=i-Terminal
GenericName[xh]=
Comment[xh]=
Name[wa]=Terminå
GenericName[wa]=
Comment[wa]=
Name[vi]=Thiết bị cuối
GenericName[vi]=
Comment[vi]=Dùng dòng lệnh
Name[uk]=Термінал
GenericName[uk]=
Comment[uk]=Командний рядок
Name[tr]=Uçbirim
GenericName[tr]=
Comment[tr]=Komut satırını kullan
Name[th]=เทอร์มินัล
GenericName[th]=
Comment[th]=สั่งการด้วยบรรทัดคำสั่ง
Name[ta]=முனையம்
GenericName[ta]=
Comment[ta]=
Name[sv]=Terminal
GenericName[sv]=
Comment[sv]=
Name[sr@Latn]=Terminal
GenericName[sr@Latn]=
Comment[sr@Latn]=Koristi komandnu liniju
Name[sr]=Терминал
GenericName[sr]=
Comment[sr]=Користи командну линију
Name[sq]=Terminali
GenericName[sq]=
Comment[sq]=Përdor rreshtin e komandës
Name[sl]=Terminal
GenericName[sl]=
Comment[sl]=
Name[sk]=Terminál
GenericName[sk]=
Comment[sk]=Použiť príkazový riadok
Name[ru]=Терминал
GenericName[ru]=
Comment[ru]=Использовать командную строку
Name[ro]=Terminal
GenericName[ro]=
Comment[ro]=Foloseşte linia de comandă
Name[pt_BR]=Terminal
GenericName[pt_BR]=
Comment[pt_BR]=Use a linha de comando
Name[pt]=Consola
GenericName[pt]=
Comment[pt]=Utilizar a linha de comando
Name[pl]=Terminal
GenericName[pl]=
Comment[pl]=Wiersz poleceń
Name[pa]=ਟਰਮੀਨਲ
GenericName[pa]=
Comment[pa]=ਕਮਾਂਡ ਲਾਇਨ ਵਰਤੋਂ
Name[no]=Terminal
GenericName[no]=
Comment[no]=Bruk kommandolinjen
Name[nn]=Terminal
GenericName[nn]=
Comment[nn]=Bruk kommandolinja
Name[nl]=Terminalvenster
GenericName[nl]=
Comment[nl]=Gebruik de opdrachtregel
Name[ne]=टर्मिनल
GenericName[ne]=
Comment[ne]=
Name[nb]=Terminal
GenericName[nb]=
Comment[nb]=Bruk kommandolinjen
Name[ms]=Terminal
GenericName[ms]=
Comment[ms]=
Name[mn]=Терминал
GenericName[mn]=
Comment[mn]=
Name[ml]=ടെ‍ര്മിനല്
GenericName[ml]=
Comment[ml]=
Name[mk]=Терминал
GenericName[mk]=
Comment[mk]=Користи ја командната линија
Name[lv]=Terminālis
GenericName[lv]=
Comment[lv]=
Name[lt]=Terminalas
GenericName[lt]=
Comment[lt]=Naudoti komandų eilutę
Name[ko]=터미널
GenericName[ko]=
Comment[ko]=명령 행을 사용합니다
Name[ja]=GNOME 端末
GenericName[ja]=
Comment[ja]=コマンド・ライン端末です
Name[it]=Terminale
GenericName[it]=
Comment[it]=
Name[id]=Terminal
GenericName[id]=
Comment[id]=
Name[hy]=Տերմինալ
GenericName[hy]=
Comment[hy]=
Name[hu]=Terminál
GenericName[hu]=
Comment[hu]=Parancssor használata
Name[hr]=Terminal
GenericName[hr]=
Comment[hr]=
Name[hi]=टर्मिनल
GenericName[hi]=
Comment[hi]=कमांड लाइन का प्रयोग करें
Name[he]=מסוף
GenericName[he]=
Comment[he]=
Name[gu]=ટર્મિનલ
GenericName[gu]=
Comment[gu]=આદેશ વાક્ય વાપરો
Name[gl]=Terminal
GenericName[gl]=
Comment[gl]=
Name[ga]=Terminéal
GenericName[ga]=
Comment[ga]=
Name[fr]=Terminal
GenericName[fr]=
Comment[fr]=Utiliser la ligne de commande
Name[fi]=Pääte
GenericName[fi]=
Comment[fi]=Käytä komentoriviä
Name[fa]=پایانه
GenericName[fa]=
Comment[fa]=
Name[eu]=Terminala
GenericName[eu]=
Comment[eu]=
Name[et]=Terminal
GenericName[et]=
Comment[et]=Käsurea kasutamine
Name[es]=Terminal
GenericName[es]=
Comment[es]=Usar la línea de comandos
Name[en_GB]=Terminal
GenericName[en_GB]=
Comment[en_GB]=
Name[en_CA]=Terminal
GenericName[en_CA]=
Comment[en_CA]=Use the command line
Name[el]=Τερματικό
GenericName[el]=
Comment[el]=Χρήση γραμμής εντολών
Name[de]=Terminal
GenericName[de]=
Comment[de]=Befehlszeile verwenden
Name[da]=Terminal
GenericName[da]=
Comment[da]=
Name[cy]=Terfynell
GenericName[cy]=
Comment[cy]=Defnyddio'r linell orchymyn
Name[cs]=Terminál
GenericName[cs]=
Comment[cs]=Používat příkazový řádek
Name[ca]=Terminal
GenericName[ca]=
Comment[ca]=Utilitza la línia d'ordres
Name[bs]=Terminal
GenericName[bs]=
Comment[bs]=
Name[bn]=টার্মিন্যাল
GenericName[bn]=
Comment[bn]=
Name[bg]=Терминал
GenericName[bg]=
Comment[bg]=Използване на команден ред
Name[be]=Тэрмінал
GenericName[be]=
Comment[be]=
Name[az]=Terminal
GenericName[az]=
Comment[az]=
Name[ar]=شاشة طرفية
GenericName[ar]=
Comment[ar]=
Name[am]=ተርሚናል
GenericName[am]=
Comment[am]=
